@model JokesWebApp.Models.KnockKnockJoke

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KnockKnockJoke</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Knock Knock!
        </dt>
        <dd class="col-sm-10">
            Knock Knock!
        </dd>
        <dt class="col-sm-2">
            Who's there?
        </dt>
        <dd class="col-sm-10">
            Who's there?
        </dd>
        <dt class="col-sm-2">
            Answer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhoIsThereAnswer)
        </dd>
        <dt class="col-sm-2">
            Answer who?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunchLineQuestion)
        </dd>
        <dt class="col-sm-2">
            Punch Line
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunchLine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
