@model JokesWebApp.Dtos.KnockKnockPlaybackDto

@{
    ViewData["Title"] = "Index";
}

<h1>Knock Knock Playback!</h1>
<div class="container">

    @Html.DisplayFor(Model => Model.TextToShow)


    @if (Model.NextStep != null)
    {
        @Html.RouteLink("Next", new { action = "Index", controller = "KnockKnockPlayback", stepIndex = Model.NextStep })
    }

</div>
